@font-face 
{
    font-family: "ADAM";
    src: url("../TweenJS/ADAM.otf") format("opentype");
}

@media (max-width:685px)
{
    div#frame
    {
        width    : 100%;
        height   : 220px;
        overflow : hidden;
        position: relative;
    }
    iframe
    {
        position : absolute;
        top      : -250px;
        width    : 100%;
        height   : 510px;
        max-width: 660px;
    }
    div#allcomments
    {
        width: 91%;
        background-size: contain;
    }
}
@media (min-width:685px)
{
    div#frame
    {
        width    : 100%;
        height   : 215px;
        overflow : hidden;
        position: relative;
    }
    iframe
    {
        position : absolute;
        top      : -355px;
        width    : 100%;
        height   : 610px;
    }
    div#allcomments
    {
        width: 646px;
    }
}

div#allcomments
{
    text-align: center;
    margin: 0 auto; 
    background-image: url(postBackground.png);
}
div#comment
{
    text-align: left;
    position: relative;
    left: 20px;
    margin-right: 40px;

}
hr#commentBreak
{
    text-align: center;
    width: 95%;
    margin: 0 auto; 
    border-color: snow;
}
div#commentsWrap
{
    background-color: #FCFCFC;
}

div#coverText
{
    font-family: "ADAM", serif;
    margin-bottom: 48px;
    font-size: 128px;
}


div#loadingBox 
{
    width: 100%;
    height: 20px;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    text-align: center;
}

div#bgBar 
{
    position: absolute;
    width: 400px;
    margin-left: -200px;
    left: 50%;
    height: 20px;
    display: block;
    background-color: black;
    border-radius: 2px;
}

div#progressBar 
{
    left: 50%;
    position: absolute;
    margin-left: -200px;
    width: 0px;
    height: 20px;
    background-color: red;
    border-radius: 2px;
}

p#loadingInfo 
{
    color: #666;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    font-family: "ADAM", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
}



/****************************************
  ==== DEFULT
****************************************/

/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { width: 100%; height: 100%; font-family: Helvetica, Verdana, Arial, sans-serif; }
body { }
p.header, p.footer { display: none; }
div.logo { width: 204px; height: 38px; float: left; background: url(logo.png) 0 0 no-repeat; position: relative; z-index: 10; }
div.title { height: 38px; line-height: 38px; padding: 0 10px; margin: 0 1px 0 0; float: right; color: #333; text-align: right; font-size: 18px; position: relative; z-index: 10; }
.template-wrap { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.template-wrap canvas { margin: 0 0 10px 0; position: relative; z-index: 9; box-shadow: 0 10px 30px rgba(0,0,0,0.2); -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.2); }
.fullscreen { float: right; position: relative; z-index: 10; }

body.template { }
.template .template-wrap { }
.template .template-wrap canvas { }
